*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background: #212529;
}

button, 
a,
input{
    outline: none;
}

body{
    width: 100%;
    margin: auto;
    font-family: "Oswald", sans-serif;
    background: #f2f2f2;
}

.ir-arriba{
    display: none;
    background: none;
    font-size: 20px;
    color: #1a7fb3;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.ir-arriba i{
    font-size: 45px;
}

.menu{
    width: 100%;
    height: 90px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 90;
}

.menu .contenedor-img{
    width: 100px;
    margin-left: 30px;
}

.menu .contenedor-img img{
    width: 100px;
    margin-left: 30px;
}

.menu ul{
    list-style: none;
    margin-right: 30px;
}

.menu ul a{
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    color: rgba(0,0,0,.5);
}

.iconoCarrito i{
    font-size: 25px;
    color: rgba(0,0,0,.5);
    margin-right: 50px;
    cursor: pointer;
    position: relative;
}

.avisoCarrito{
    background: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 45px;
    display: none;
}

.header{
    width: 100%;
}

.header__contenedor{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.header__contenedor img{
    width: 100%;
}
.header__contenedor a{
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-decoration: none;
    bottom: 30px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 50px;
    transition: 0.3s all ease;
}

.header__contenedor a:hover{
    background-color: rgba(87, 87, 87, 0.8);
}

#shop{
    padding: 80px;
}

h1{
    margin: 25px 0 25px 0;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

h2{
    text-align: center;
    font-weight: lighter;
}

.contenedorInstrumentos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.instrumento{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    background: #fff;
}

.instrumento img, 
.instrumento h2,
.instrumento button,
.instrumento p{
    margin: 8px 0 5px 0;
}

.instrumento img{
    width: 270px;
}

.instrumento button{
    width: 200px;
    height: 50px;
    background: #1a7fb3;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: .3s all ease;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.instrumento button:hover{
    background: #005783;
}

.carrito{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 150px;
    background:#f2f2f2;
    margin: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

.item input{
    width: 30px;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
}

.item button{
    border: none;
    background-color: #1a7fb3;
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s all ease;
}

.item button:hover{
    background-color: #005783;
}

.botonesItem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total{
    width: 70%;
    margin: 20px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 25px;
    font-weight: bold;
}

.total h2{
    padding: 15px 0;
}

.contenedorCarrito{
    width: 100%;
    padding-top: 30px;
    background: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botonComprar,
.boton{
    display: inline-block;
    padding: 15px;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    width: 200px;
    height: 50px;
    background: #1a7fb3;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: .3s all ease;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.botonComprar:hover,
.boton:hover{
    background: #005783;
}


/* ----------------------- compra  */

.titulo{
    margin-top: 100px;
}

.contenedor{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
.contenedor__compra{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.contenedor__listado{
    width: 70%;
    height: 100%;
    margin-bottom: 30px;
}

.nuevaLista{
    width: 100%;
    height: 100px;
    margin: 15px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}

.nuevaLista img{
    margin-right: 300px;
}

#nuevoItem p{
    font-size: 15px;
}

.contenedor__linea{
    width: 1px;
    margin: 15px 0 15px 15px; 
    height: 150px;
    background: #000;
}

.contenedor__botones{
    width: 30%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#total{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    padding: 20px 0;
}

#botonVaciar{
    display: inline-block;
    padding: 15px;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    width: 200px;
    height: 50px;
    background: #fff;
    color: #1a7fb3;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
    transition: .3s all ease;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.vacio{
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}

.vacioBack{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-weight: bold;
}

/* ------------------------------------- */

.footer{
    width: 100%;
    height: 200px;
    background: #212529;
    color: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__titulo{
    font-size: 16px;
    font-weight: 300;
    text-align: center;

}

.footer__redes{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer__redes li a{
    display: inline-block;
    text-decoration: none;
    color: #bfbfbf;
}

.footer__redes li a i{
    font-size: 35px;
    padding-top: 25px;
    margin: 5px;
}

/* -------------------------------- */

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.5s all ease;
}

.imagenCapa{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
    z-index: 100;
}

.mostrar{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    height: 95vh;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.mostarImg{
    transform: scale(1);
}
