*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: auto;
    font-family: monospace;
}

button, 
a,
input{
    outline: none;
}

h1{
    text-align: center;
    margin: 30px auto
} 

.articulos{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
}

.articulos__item{
    margin: 25px;
    width: 300px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 10px;
}

.articulos__item img{
    width: 230px;
}

.articulos__item p,
.articulos__item input,
.articulos__item label,
.articulos__item button{
    font-size: 16px;
    font-weight: bold;
    margin: 3px 0;
}

.articulos__item input{
    width: 50px;
}

.articulos__item button{
    padding: 10px 20px;
}

.carrito{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.articulos button{
    background: rgb(1, 151, 1);
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: .3s all ease;
}

.articulos button:hover{
    background: rgb(0, 88, 0);
}

.carritoTotal{
    width: 100%;
}

#nuevoItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 200px;
    background: rgb(211, 211, 211);
    margin: 5px;
    border-radius: 3px;
    transition: .3s all ease;
}

#nuevoItem:hover{
    background: rgb(167, 167, 167);
}

#nuevoItem p{
    font-size: 17px;
    font-weight: bold;
    padding: 3px 0;
}

.quitarProducto{
    font-weight: bold;
    color: rgb(0, 0, 63);
    cursor: pointer;
    transition: .3s all ease;
}

.quitarProducto:hover{
    color: #fff;
}

.carritoTotal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carritoTotal p{
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;
}
